<h1><%= "#{@dicerolls["dice"]}d#{@dicerolls["sides"]}" %></h1>

<a href="/process_roll?dice=<%= @dicerolls["dice"].to_s %>&sides=<%= @dicerolls["sides"].to_s %>">Roll again</a>

|

<a href="/">Go back home</a>

<ol> 
  <% @rolls.each do |a_roll| %>
    <li>
      <em>Result:</em> <strong><%= a_roll %></strong>
    </li>
  <% end %>
</ol>
